<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('../partials/head.ejs', {tituloPagina: "Anastassia Joyas - Alta Producto", hojaEstilo: "productForm"}) %>

<body>
    
    <!-- Incluimos el Header -->
    <%- include('../partials/header.ejs') %>

    <main>

        <form id="formularioAlta" action="/productos" method="post" enctype="multipart/form-data">

            <fieldset id="contenedorImagen">
                <label for="imagen" id="textoImagen">Imagen<span class="asterisco">*</span><img id="foto" alt=""/></label>
                <br>
                <input style="visibility: hidden;" id="imagen" name="imagen" type="file" accept=".jpg, .png, .gif" onchange="document.getElementById('foto').src = window.URL.createObjectURL(this.files[0])"
                required>
                
            </fieldset>

            <fieldset id="contenedorInfoProducto">
                <label for="name" class="labelForm">Nombre<span class="asterisco">*</span></label>
                <br>
                <input id="name" name="name" type="text" class="inputForm" required>
                <br>
                <label for="precio" class="labelForm">Precio<span class="asterisco">*</span></label>
                <br>
                <input id="precio" name="precio" type="number" class="inputForm" required>
                <br>
                <label for="category" class="labelForm">Categoría<span class="asterisco">*</span></label>
                <br>
                <select name="category" id="category" class="inputForm" required>
                    <option value="" selected disabled>--Selecciona una categoría--</option>
                    <option value="aros"> Aros </option>
                    <option value="collares"> Collares </option>
                    <option value="pulseras"> Pulseras </option>
                    <option value="anillos"> Anillos </option>
                </select>
                <br>
                <label for="material" class="labelForm">Material<span class="asterisco">*</span></label>
                <br>
                <select id="material" name="material" class="inputForm">
                    <option value="" selected disabled>--Selecciona un material--</option>
                    <option value="acero"> Acero Quirúrgico </option>
                    <option value="plata"> Plata 925 </option>
                    <option value="oro"> Oro </option>
                </select>
                <br>
                <label for="coleccion" class="labelForm">Colección<span class="asterisco">*</span></label>
                <br>
                <select id="coleccion" name="coleccion" class="inputForm">
                    <option value="" selected disabled>--Selecciona una colección--</option>
                    <option value="Steel"> Steel </option>
                    <option value="Silver"> Silver </option>
                    <option value="Gold"> Gold </option>
                </select>
            </fieldset>

            <fieldset id="contenedorDescripcion">
                <label for="descripcion" class="labelForm">Descripción</label>
                <br>
                <textarea name="description" id="descripcion" cols="30" rows="10">Descripción del producto</textarea>
            </fieldset>
            
            <fieldset id="contenedorSubmit">
                <button type="submit" id="botonSubmit">Cargar Alta</button>
            </fieldset>

        </form>
    </main>
    
    <!-- Incluimos el Footer -->
    <%- include('../partials/footer.ejs') %>
      

</body>


</html>