<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {tituloPagina: "Aastassia Joyas - Carrito de Compras", hojaEstilo: "productCart"}) %>

<body>
    
    <%- include('../partials/header.ejs') %>

    <main>

        <div id="seccionProgreso">
            <p>Carrito de Compras</p>
            <i class="fa-solid fa-arrow-right-long"></i>
            <p>Finalizar Compra</p>
            <i class="fa-solid fa-arrow-right-long"></i>
            <p>Compra Realizada</p>
        </div>

        <div id="lineaDivisoriaArriba"></div>

        <div id="nombresColumnas">
            <p id="producto">Producto</p>
            <p id="cantidad">Cantidad</p>
            <p id="precio">Precio</p>
        </div>

        <article class="filaArticulo">
            <div class="producto">
                <button class="quitarProducto"><i class="fa-solid fa-xmark"></i></button>
                <img class="imagenProducto" src="../images/anillo-acero.jpg" alt="" >
                <p class="nombreProducto">Anillo Acero</p>
            </div>
            <div class="cantidad">
                <button class="botonesMasMenos"><i class="fa-solid fa-minus"></i></button>
                <p>01</p>
                <button class="botonesMasMenos"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="precio">
                <p>$1.999</p>
            </div>
        </article>

        <article class="filaArticulo">
            <div class="producto">
                <button class="quitarProducto"><i class="fa-solid fa-xmark"></i></button>
                <img class="imagenProducto" src="../images/anillo-oro.jpg" alt="" >
                <p class="nombreProducto">Anillo Oro</p>
            </div>
            <div class="cantidad">
                <button class="botonesMasMenos"><i class="fa-solid fa-minus"></i></button>
                <p>01</p>
                <button class="botonesMasMenos"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="precio">
                <p>$999</p>
            </div>
        </article>

        <article class="filaArticulo">
            <div class="producto">
                <button class="quitarProducto"><i class="fa-solid fa-xmark"></i></button>
                <img class="imagenProducto" src="../images/arbol-de-la-vida-colgante.jpg" alt="" >
                <p class="nombreProducto">Colgante Arbol de la Vida</p>
            </div>
            <div class="cantidad">
                <button class="botonesMasMenos"><i class="fa-solid fa-minus"></i></button>
                <p>01</p>
                <button class="botonesMasMenos"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="precio">
                <p>$1.999</p>
            </div>
        </article>

        <div id="lineaDivisoriaAbajo"></div>

        <div id="total">
            <p>Total Compra</p>
            <p>$4.997</p>
        </div>

        <div id="divCompra">
            <button id="finalizarCompra">FINALIZAR COMPRA</button>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %> 

</body>
</html>