<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos de FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Cargamos Hoja de Estilo .css -->
    <link rel="stylesheet" href="/css/productDetail.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalle de Producto</title>
</head>
<body>
    
    <%- include('../partials/header.ejs') %>

    <main>
        <div>
            <p id="indice">Productos / Anillos / Anillo Acero</p>
        </div>
        <section id="seccionDetalleProducto">
            <img id="imagenProducto" src="/images/anillo-acero.jpg" alt="Anillo Acero">
            <div id="infoProducto">
                <h2 id="nombre">Anillo Acero</h2>
                <h4 id="precio">$1.999</h4>
                <p id="descripcion">Descripción</p>
                <p id="textoDescripcion">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, rerum reprehenderit? Eius officia minus nulla a adipisci neque ut repellat labore.</p>
                <button id="botonComprar">COMPRAR</button>
            </div>
        </section>

        <h2 id="productosRelacionados">Productos Relacionados</h2>

        <section id="sliderProductos">
            
            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/anillo-oro2.jpg" alt="Anillo Oro 2"></a>
                <h3 class="nombreProducto">Anillo Oro</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 999</h5>
                <div class="carritoProducto">
                    <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>

            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/arbol-de-la-vida-colgante.jpg" alt="Colgante Arbol de la Vida"></a>
                <h3 class="nombreProducto">Colgante Arbol de la Vida</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                <div class="carritoProducto">
                    <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>

            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/anillos-dorados.jpg" alt="Anillos Dorados"></a>
                <h3 class="nombreProducto">Par Anillos Oro</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 2999</h5>
                <div class="carritoProducto">
                    <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>
                    
            <article class="contenedorProducto">
                <a href="../../productos/detalle/1"><img class="imagenProducto" src="/images/anillo-acero.jpg" alt="Anillos Acero"></a>
                <h3 class="nombreProducto">Par Anillos Acero</h3>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                <div class="carritoProducto">
                    <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                </div>
            </article>
                    
        </section>

    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>