<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('../partials/head.ejs', {tituloPagina: "Aastassia Joyas - Listado de Productos", hojaEstilo: "productsIndex"}) %>

<body>
    
    <!-- Incluimos el Header -->
    <%- include('../partials/header.ejs') %>

    <main>
        <div>
            <h2 id="tituloProductos">Listado de Productos</h2>
        </div>

        <!-- Display Productos -->
        <section id="listadoProductos">
            
            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/anillo-oro2.jpg" alt="Anillo Oro 2"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Anillo Oro</h3>
                    <div class="carritoProducto">
                        <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 999</h5>
                
            </article>

            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/arbol-de-la-vida-colgante.jpg" alt="Colgante Arbol de la Vida"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Colgante Arbol de la Vida</h3>
                    <div class="carritoProducto">
                        <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                
            </article>

            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/anillos-dorados.jpg" alt="Anillos Dorados"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Par Anillos Oro</h3>
                    <div class="carritoProducto">
                        <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 2999</h5>
                
            </article>
                    
            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/anillo-acero.jpg" alt="Anillos Acero"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Par Anillos Acero</h3>
                    <div class="carritoProducto">
                        <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                
            </article>
                    
        </section>

    </main>

    <!-- Incluimos el Footer -->
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>