<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Iconos de FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Cargamos Hoja de Estilo .css -->
    <link rel="stylesheet" href="/css/productCart.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carrito de Compras</title>
</head>
<body>
    
    <%- include('../partials/header.ejs') %>

    <main>

        <div id="seccionProgreso">
            <p>Carrito de Compras</p>
            <i class="fa-solid fa-arrow-right-long"></i>
            <p>Finalizar Compra</p>
            <i class="fa-solid fa-arrow-right-long"></i>
            <p>Compra Realizada</p>
        </div>

        <div id="lineaDivisoriaArriba"></div>

        <div id="nombresColumnas">
            <p id="producto">Producto</p>
            <p id="cantidad">Cantidad</p>
            <p id="precio">Precio</p>
        </div>

        <article class="filaArticulo">
            <div class="producto">
                <button class="quitarProducto"><i class="fa-solid fa-xmark"></i></button>
                <img class="imagenProducto" src="../images/anillo-acero.jpg" alt="" >
                <p class="nombreProducto">Anillo Acero</p>
            </div>
            <div class="cantidad">
                <button class="botonesMasMenos"><i class="fa-solid fa-minus"></i></button>
                <p>01</p>
                <button class="botonesMasMenos"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="precio">
                <p>$1.999</p>
            </div>
        </article>

        <article class="filaArticulo">
            <div class="producto">
                <button class="quitarProducto"><i class="fa-solid fa-xmark"></i></button>
                <img class="imagenProducto" src="../images/anillo-oro.jpg" alt="" >
                <p class="nombreProducto">Anillo Oro</p>
            </div>
            <div class="cantidad">
                <button class="botonesMasMenos"><i class="fa-solid fa-minus"></i></button>
                <p>01</p>
                <button class="botonesMasMenos"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="precio">
                <p>$999</p>
            </div>
        </article>

        <article class="filaArticulo">
            <div class="producto">
                <button class="quitarProducto"><i class="fa-solid fa-xmark"></i></button>
                <img class="imagenProducto" src="../images/arbol-de-la-vida-colgante.jpg" alt="" >
                <p class="nombreProducto">Colgante Arbol de la Vida</p>
            </div>
            <div class="cantidad">
                <button class="botonesMasMenos"><i class="fa-solid fa-minus"></i></button>
                <p>01</p>
                <button class="botonesMasMenos"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="precio">
                <p>$1.999</p>
            </div>
        </article>

        <div id="lineaDivisoriaAbajo"></div>

        <div id="total">
            <p>Total Compra</p>
            <p>$4.997</p>
        </div>

        <div id="divCompra">
            <button id="finalizarCompra">FINALIZAR COMPRA</button>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %> 

</body>
</html>