/* -------------- FOOTER -------------- */

footer {
    display: flex;
    flex-flow: column wrap;
    background-color: #E9967A;
    text-align: center;
}

footer h3 {
    border-bottom: 1px solid #3A251E;
    margin-bottom: 0;
    margin-top: 1rem;
}

footer ul {
    padding: 0;
    margin-top: 0.5rem;
}

.enlacesFooter {
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 0.5px;
    line-height: 1.7rem;
    transition: background-color 0.5s;
    border-radius: 5px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.fa-square-facebook,
.fa-square-instagram,
.fa-square-twitter,
.fa-square-pinterest {
    color: #3A251E;
    font-size: 30px;
    margin: 0 0.75rem;
}

#seccionEmpresa {
    width: 70%;
    position: relative;
    left: 15%;
}

#seccionRedes {
    width: 70%;
    position: relative;
    left: 15%;
}

#seccionLegal {
    width: 70%;
    position: relative;
    left: 15%;
}

#redesFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
    
}

/* -------------- MEDIA -------------- */

@media (min-width: 475px) {

    /* FOOTER */

    footer {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
        
    }

    footer h3 {
        border-bottom: 1px solid #3A251E;
    }

    .enlacesFooter:hover {
        background-color: #3A251E;
        color: #E9967A;
    }

    #seccionEmpresa {
        width:25%;
        position: static;
    }
    #seccionRedes {
        width:25%;
        position: static;
    }
    #seccionLegal {
        width:25%;
        position: static;
    }

    .fa-square-facebook,
    .fa-square-instagram,
    .fa-square-twitter,
    .fa-square-pinterest {
        margin-right: 1.5rem;
        margin-left: 0;
    }

    #redesFlex {
        justify-content: space-evenly;
    }
}