html {
    height: 100%;
}

/* -------------- BODY -------------- */

body {
    margin: 0;
    position: relative;
    background-color: whitesmoke;
}

/* -------------- MAIN -------------- */

main{
    background-color: whitesmoke;
}

.contenedor-padre{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#iconoUsuario{
    color: #3A251E;
    font-size: 25px;
    margin-right: 10px;
}

.datos-login{
    display: flex;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    margin-bottom: 1px;
    justify-content: center;
    align-items: center;
}

input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    width: 60vw;
}

.registro{
    display: inline-block;
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
}

.iniciar-sesion{
    display: inline-block;
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
    margin-top: 2em;
}

.boton{
    background-color: #E9967A;
    margin-top: 1em;
}

#listaBeneficios {
    padding-inline-start: 0;
    margin: auto;
}

ul li{
    list-style-type: none;
    /* line-height: 1.7rem; */
}

#textoOlvidaste{
    margin-top: 0;
    margin-bottom: 0;
}

#recordar {
    margin: auto;
    width: 100%;
}

.inicio-sesion {
    text-decoration: underline;
    margin-top: 0;
}

/* -------------- MEDIA -------------- */

@media (min-width: 475px) {

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .registro{
        margin: 0;
        padding: 0 1rem 0;
        border-width: 0 1px 0 0;
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }  

    .iniciar-sesion{
        margin: 0;
        padding: 0 1rem 0;
        border-width: 0 1px 0 0;
        width: 48%;
    }

    
    .v-line{
        border-left:  thin solid #5c5b5b;
    }

    .contenedor-padre{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: row;
        margin-top: 5%;
    }

    .formulario{
        text-align: center;
        align-items: center;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    ul {
        padding-inline-start: 1rem;
    }

    input{
        width: 30vw;
    }
}

@media (max-width: 414px) {
  .v-line{
    display: none;
  }
  
  
}