/* -------------- BODY -------------- */

body {
    margin: 0;
    background-color: whitesmoke;
}

/* -------------- MAIN -------------- */

#indice {
    margin-left: 0.5rem;
}

#seccionDetalleProducto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E9967A;
    margin: 0.5rem 1rem 1.5rem 1rem;
    padding: 1rem;
}

#contenedorImagen {
    width: 100%;
    margin: auto 0;
}
#imagenProducto {
    width: 100%;
    border: 1px solid #3A251E;
}

#infoProducto{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

#precio {
    margin-top: 0;
    border-bottom: 1px solid #3A251E;
    padding-bottom: 0.5rem;
    font-size: 18px;
}

#descripcion {
    font-weight: bold;
    margin-top: 0;
}

#textoDescripcion {
    margin-top: 4px;
}

#botonEditar{
    font-size: 18px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color: whitesmoke;
    border: 1px solid #3A251E;
    width: 98%;
    height: 30px;
    min-width: 110px;
    text-align: center;
}

#botonComprar {
    font-size: 18px;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color: whitesmoke;
    border: 1px solid #3A251E;
    width: 70%;
    height: 30px;
    min-width: 110px;
    
}

/* ------- Slider Productos Relacionados ------- */

#productosRelacionados{
    margin-left: 0.5rem;
    font-size: 20px;
}

#sliderProductos {
    background-color: #E9967A;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 3.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contenedorProducto {
    position: relative;
    background-color: whitesmoke;
    border: 1px solid #3A251E;
    width: 85%;
    margin: 1rem auto;
}

.imagenProducto {
    width: 100%;
    border-bottom: 1px solid #3A251E;
    
}

.nombreProducto {
    background-color: whitesmoke;
    padding: 0.5rem;
    padding-right: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.infoProducto {
    padding: 0.5rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.precio {
    margin-top: 0;
    margin-bottom: 0;
    width: 0%;
    font-size: 16px;
}

.numeroPrecio {
    margin-top: 0;
    margin-bottom: 0;
    width: 30%;
    font-size: 16px;
    text-align: right;
}

.carritoProducto {
    position: absolute;
    bottom: 33px;
    right: 8px;
    width: 35px;
    height: 35px;
    background-color: #E9967A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconoCarrito {
    font-size: 20px;
}

/* -------------- MEDIA -------------- */

@media (min-width: 475px) {

     /* MAIN */
    
    #infoProducto{
        width: 45%;
    }

     #seccionDetalleProducto {
        flex-direction: row;
    }

    #contenedorImagen {
        width: 52%;
    }

    #sliderProductos {
        flex-direction: row;
    }

    .contenedorProducto {
        width: 45%;
    }
}

@media (min-width: 1024px) {
    
    .contenedorProducto {
        width: 22%;
    }
}
