html {
  height: 100%;
}

/* -------------- BODY -------------- */

body {
  margin: 0;
  position: relative;
  background-color: whitesmoke;
}

/* -------------- MAIN -------------- */

main {
  background-color: whitesmoke;
}

#iconoUsuario {
  color: #3a251e;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 10px;
}

.titulo {
  margin-bottom: 1em;
  margin-left: 20px;
}
.crear-cuenta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  margin-bottom: 15px;
  text-align: center;
}

.info-inicio-sesion {
  display: inline-block;
  margin-bottom: 2em;
  text-align: center;

}
.datos-personales{
  display: inline-block;
  margin-bottom: 2em;
  text-align: center;
  align-items: center;
}

.asterisco {
  color: rgb(226, 19, 19);
}
.formulario {
  text-align: justify;
  margin-left: 20px;
  align-items: center;
}

.titulo {
  margin-top: 5px;
  text-align: center;
}

input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
}

.checkbox {
  display: flex;
  flex-wrap: nowrap;
}

.boton-registro {
  background-color: #e9967a;
  align-items: flex-end;
}

.botones {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 15px;
}

.box-robot {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid;
  padding: 10px;
  background-color: #e9967a;
}

.boton-registro {
  display: inline-block;
  padding: 10px;
}

/* -------------- MEDIA -------------- */

@media (min-width: 475px) {
  
  .iniciar-sesion {
    margin: 0;
    padding: 0 35px 0;
    border-width: 0 1px 0 0;
  }

  .titulo {
    margin-top: 5px;
    text-align: left;
  }

  .crear-cuenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: justify;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
