/* -------------- BODY -------------- */

body {
  margin: 0;
  position: relative;
  background-color: whitesmoke;
  min-height: 900px;
}

/* -------------- MAIN -------------- */

main {
  background-color: whitesmoke;
  margin: 1rem auto;
}

#iconoUsuario {
  color: #3a251e;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 10px;
}

.titulo {
  display: inline;
}

.crear-cuenta {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
}

.datos-personales{
  display: inline-block;
  margin-top: 1rem;

}

.info-inicio-sesion{
  width: 100%;
  display: inline-block;
  margin-top: 1rem;

}

.divImagen{
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  margin-left: auto;
  min-height: 300px;

} 

#foto{
  width: 70%;
}

#labelImg{
  text-align: center;
}

#foto{
  border: 0.5px solid #3a251e;
}
.asterisco {
  color: rgb(226, 19, 19);
}

.formulario {
  align-items: center;
}

input {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
  margin-bottom: 1rem;
}

.checkbox {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1rem;
  justify-content: center;
  
}

.textoCheckboxes {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.boton-registro {
  background-color: #e9967a;
  align-items: flex-end;
}

.botones {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 15px;
  align-items: center;
}

.box-robot {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid;
  padding: 10px;
  background-color: #e9967a;
  margin-bottom: 1rem;
}

.inputCheckboxes {
  margin: auto 0;
}

.boton-registro {
  display: inline-block;
  padding: 10px;
}

.barrasInput{
  width: 60vw;
}

/* -------------- MEDIA -------------- */

@media (min-width: 500px) {
  
  footer {
    
    width: 100%;
  }

  .formulario{
    padding: 1rem;
  }

  .iniciar-sesion {
    margin: 0;
    padding: 0 35px 0;
    border-width: 0 1px 0 0;
  }

  .crear-cuenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    flex-direction: row;
  }

  .info-inicio-sesion {
    margin-top: 1rem;
    width: 30%;
  }

  .datos-personales{
    width: 30%;
  
  }

  .barrasInput{
    width: 30vw;
  }

  
  .divImagen{
    width: 30%;
  }

}


