<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('partials/head.ejs', {tituloPagina: "Anastassia Joyas - Error 404", hojaEstilo: "login"}) %>

<body>

    <!-- Incluimos el Header -->
    <%- include('partials/header.ejs') %>

    <main style="justify-content: center;">

        <h1 style="text-align: center;"> ERROR 404 - La página solicitada no existe</h1>

    </main>

    <!-- Incluimos el Footer -->
    <%- include('partials/footer.ejs') %>

</body>
</html>