<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Cargamos Hoja de Estilo .css -->
    <link rel="stylesheet" href="/css/index.css">   

    <title>Anastassia Joyas</title>
</head>
<body>

    <header>
        <section id="headerFlex">
            <div id="divLogo">
                <a href="/"><img id="logo" src="/images/anastassia-logo.jpeg" alt="Anastassia"></a>    
            </div>
            <nav>
                <ul type="none" id="listaNav">
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Colección</a></li>
                    <li><a href="#">Sale</a></li>
                </ul>
            </nav>
            <div id="divIconos">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </section>
    </header>

    <main>
        
    </main>

    <footer>

    </footer>

</body>
</html>