<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('./partials/head.ejs', {tituloPagina: "Anastassia Joyas", hojaEstilo: "index"}) %>

<body>

    <!-- Incluimos el Header -->
    <%- include('./partials/header.ejs') %>
    
    <main>

        <!-- Script Carrousel Colecciones -->
        <script>
            function imagen1(){
                document.getElementById('imagen1').style.display = 'block';
                document.getElementById('imagen2').style.display = 'none';
                document.getElementById('imagen3').style.display = 'none';
            }
            function imagen2(){
                document.getElementById('imagen1').style.display = 'none';
                document.getElementById('imagen2').style.display = 'block';
                document.getElementById('imagen3').style.display = 'none';
            }
            function imagen3(){
                document.getElementById('imagen1').style.display = 'none';
                document.getElementById('imagen2').style.display = 'none';
                document.getElementById('imagen3').style.display = 'block';
            }
        </script>

        <!-- Carrousel Colecciones -->
        <h2 class="titulos">COLECCIONES</h2>

        <section id="carrouselColecciones">
            
            <a href="productos/detalle/1"><img id="imagen1" src="images/arbol-de-la-vida-colgante.jpg" alt="Colgante Arbol de la Vida"></a>
            <a href="productos/detalle/1"><img id="imagen2" src="images/anillo-acero.jpg" alt="Anillo Acero"></a>
            <a href="productos/detalle/1"><img id="imagen3" src="images/anillo-oro.jpg" alt="Anillo Oro"></a>
            <div id="botonesSelectores">
                <button id="botonCarrousel1" class="selectorCarrousel" onclick="imagen1()"></i></button>
                <button id="botonCarrousel2" class="selectorCarrousel" onclick="imagen2()"></i></button>
                <button id="botonCarrousel3" class="selectorCarrousel" onclick="imagen3()"></i></button>
            </div>
           
            
        </section>

        <!-- Display Productos -->
        <h2 class="titulos">PRODUCTOS DESTACADOS</h2>

        <section id="sliderProductos">
            
            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/anillo-oro2.jpg" alt="Anillo Oro 2"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Anillo Oro</h3>
                    <div class="carritoProducto">
                        <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 999</h5>
                
            </article>

            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/arbol-de-la-vida-colgante.jpg" alt="Colgante Arbol de la Vida"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Colgante Arbol de la Vida</h3>
                    <div class="carritoProducto">
                        <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                
            </article>

            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/anillos-dorados.jpg" alt="Anillos Dorados"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Par Anillos Oro</h3>
                    <div class="carritoProducto">
                        <a href="#"><i  class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 2999</h5>
                
            </article>
                    
            <article class="contenedorProducto">
                <a href="productos/detalle/1"><img class="imagenProducto" src="images/anillo-acero.jpg" alt="Anillos Acero"></a>
                <div class="contenedorNombreYCarrito">
                    <h3 class="nombreProducto">Par Anillos Acero</h3>
                    <div class="carritoProducto">
                        <a href="#"><i class="fa-solid fa-cart-shopping" id="iconoCarrito"></i></a>
                    </div>
                </div>
                <div class="infoProducto">
                    <h5 class="precio">Precio</h5>
                    <h5 class="numeroPrecio">$ 1999</h5>
                
            </article>
                    
        </section>
        
        <!-- Productos por Materiales -->
        <h2 class="titulos">PRODUCTOS POR MATERIAL</h2>

        <section id="seccionOroAcero">
            <div id="contenedorOro">
                <img class="imagenesOroAcero" src="images/anillo-oro.jpg" alt="">
                <button class="botonesOroAcero">Oro</button>
            </div>
            <div id="contenedorAcero">
                <img class="imagenesOroAcero" src="images/anillo-acero.jpg" alt="">
                <button class="botonesOroAcero">Acero</button>
            </div>
            
        </section>
    </main>

    <!-- Incluimos el Footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>