<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Cargamos Hoja de Estilo .css -->
    <link rel="stylesheet" href="/css/register.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registro</title>
</head>

<body>

    <header>
        <section id="headerFlex">
            <div id="divLogo">
                <a href="/"><img id="logo" src="/images/anastassia-logo.jpeg" alt="Anastassia"></a>
            </div>
            <nav>
                <ul type="none" id="listaNav">
                    <li><a href="#" class="enlacesHeader">PRODUCTOS</a></li>
                    <li><a href="#" class="enlacesHeader">COLECCION</a></li>
                    <li><a href="#" class="enlacesHeader">SALE</a></li>
                </ul>
            </nav>
            <div id="divIconos">
                <i class="fa-solid fa-magnifying-glass" id="lupa"></i>
                <a href="/login"><i class="fa-solid fa-user"></i></a>
                <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i class="fas fa-bars"></i></a>
            </div>
        </section>
        <section id="seccionBusqueda">
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <input type="text" placeholder="Encontrá lo que buscás..." id="barraBusqueda">
        </section>
    </header>

    <main>
        <div>
            <i class="fa-solid fa-user"></i>
            <h3 class="titulo">CREAR UNA CUENTA</h3>
        </div>

        <div class="crear-cuenta">
            
            <div class="datos-personales">
                <h3>Datos personales</h3>
                <form class="formulario">
                    <label>Nombre <span class="asterisco">*</span></label>
                    <br>
                    <input type="text">
                    <br>

                    <label>Apellido <span class="asterisco">*</span></label>
                    <br>
                    <input type="text">
                    <br>

                    <label>Documento <span class="asterisco">*</span></label>
                    <br>
                    <input type="number">
            </div>

            <div class="info-inicio-sesion">
                <h3>Información de inicio de sesión</h3>
                <form class="formulario">
                    <label>Email <span class="asterisco">*</span></label>
                    <br>
                    <input type="email">
                    <br>

                    <label>Contraseña <span class="asterisco">*</span></label>
                    <br>
                    <input type="password">
                    <br>

                    <label>Confirmar contraseña <span class="asterisco">*</span></label>
                    <br>
                    <input type="password">
            </div>


        </div>

        <div class="checkbox">
            <input type="checkbox">
            <p>Acepto recibir información por e-mail sobre novedades, ofertas, descuentos, promociones y eventos.</p>
        </div>

        <div class="checkbox">
            <input type="checkbox">
            <p>Acepto los Términos y condiciones, y las Políticas de privacidad del sitio.</p>
        </div>

        <div class="botones">

        <div class="box-robot">
        <label>
            <input type="checkbox">
            No soy un robot
        </label>
        </div>
            

        <a href="#"><button class="boton-registro">Crear cuenta</button></a>
    </div>


    </main>

    <footer>

        <section id="seccionEmpresa">
            <h3>EMPRESA</h3>
            <ul type="none" class="listasFooter">
                <li><a class="enlacesFooter" href="#">Sobre Anastassia</a></li>
                <li><a class="enlacesFooter" href="#">Contacto</a></li>
                <li><a class="enlacesFooter" href="#">Trabajá con nosotros</a></li>
            </ul>
        </section>
        <section id="seccionRedes">
            <h3>REDES</h3>
            <ul type="none" id="redesFlex">
                <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-pinterest"></i></a></li>
            </ul>
        </section>
        <section id="seccionLegal">
            <h3>LEGALES</h3>
            <ul type="none">
                <li><a class="enlacesFooter" href="#">Política de privacidad</a></li>
                <li><a class="enlacesFooter" href="#">Términos y condiciones</a></li>
            </ul>
        </section>
    </footer>

</body>

</html>