<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {tituloPagina: "Aastassia Joyas - Login", hojaEstilo: "login"}) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>

        <div class="contenedor-padre">
            <div class="iniciar-sesion">
                <div class="datos-login">
                    <a href="/usuarios/login"><i id="iconoUsuario" class="fa-solid fa-user"></i></a>
                    <h3>YA TENGO CUENTA</h3>
                </div>
                <P class="inicio-sesion">Para iniciar sesión ingresá tu email y contraseña.</P>

                <form class="formulario">
                    <label>E-mail</label>
                    <br>
                    <input type="email">
                    <br>

                    <label>Contraseña</label>
                    <br>
                    <input type="password">

                    <p>Olvidaste tu contraseña?</p>
                    <button class="boton">Iniciar sesión</button>

                </form>
            </div>

            <div class="v-line"></div>

            <div class="registro">
                <div class="datos-login">
                    <i class="fa-solid fa-user"></i>
                    <h3>CREAR UNA CUENTA</h3>
                </div>
                <P class="inicio-sesion">Estos son sus beneficios:</P>
                <ul>
                    <li>Comprar mas rápido. </li>
                    <li>Guardar direcciones de envío </li>
                    <li>Crear una lista con tus productos favoritos</li>
                    <li>Enterate antes que nadie sobre nuestras promociones y descuentos </li>

                    <a href="/usuarios/registro"><button class="boton">Crear cuenta</button></a>

                </ul>




            </div>

        </div>

    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>