<!DOCTYPE html>
<html lang="en">

<!-- Incluimos el Head y le pasamos el título de la página y la hoja de estilo correspondiente -->
<%- include('../partials/head.ejs', {tituloPagina: "Anastassia Joyas - Registro de usuario" , hojaEstilo: "register" })
    %>

    <body>

        <!-- Incluimos el Header -->
        <%- include('../partials/header.ejs') %>

            <main>
                <div>
                    <i id="iconoUsuario" class="fa-solid fa-user"></i>
                    <h3 class="titulo">CREAR UNA CUENTA</h3>
                </div>
                <form  class="formulario" method="POST" action="/usuarios/registro" enctype="multipart/form-data">
                    <!--Para enviar el formulario a traves de POST-->
                    <div>
                        <div class="crear-cuenta">

                            <div class="datos-personales">
                                <h3>Datos personales</h3>
                                
                                    <label>Nombre <span class="asterisco">*</span></label>
                                    <br>
                                    <input class="barrasInput" type="text">
                                    <br>

                                    <label>Apellido <span class="asterisco">*</span></label>
                                    <br>
                                    <input class="barrasInput" type="text">
                                    <br>

                                    <label>Documento <span class="asterisco">*</span></label>
                                    <br>
                                    <input class="barrasInput" type="number">
                                
                            </div>

                            <div class="divImagen">
                                <h3>Cargar Imagen</h3>

                                <label for="imagen" id="labelImg">Imagen<span class="asterisco">*</span><img id="foto" alt=""/></label>
                                <br>
                                <input style="visibility: hidden;" id="imagen" name="imagen" type="file" accept=".jpg, .png, .gif" onchange="document.getElementById('foto').src = window.URL.createObjectURL(this.files[0])"
                                 required>
                            </div>
                            
                            <div class="info-inicio-sesion">
                                <h3>Información de inicio de sesión</h3>
                                
                                    <label>Email <span class="asterisco">*</span></label>
                                    <br>
                                    <input class="barrasInput" type="email">
                                    <br>

                                    <label>Contraseña <span class="asterisco">*</span></label>
                                    <br>
                                    <input class="barrasInput" type="password">
                                    <br>

                                    <label>Confirmar contraseña <span class="asterisco">*</span></label>
                                    <br>
                                    <input class="barrasInput" type="password">
                                
                            </div>


                        </div>

                        <div class="checkbox">
                            <input class="inputCheckboxes" type="checkbox">
                            <p class="textoCheckboxes">Acepto recibir información por e-mail sobre novedades, ofertas,
                                descuentos, promociones y eventos.</p>
                        </div>

                        <div class="checkbox">
                            <input class="inputCheckboxes" type="checkbox">
                            <p class="textoCheckboxes">Acepto los Términos y condiciones, y las Políticas de privacidad
                                del sitio.</p>
                        </div>

                        <div class="botones">

                            <div class="box-robot">
                                <label>
                                    <input type="checkbox">
                                    No soy un robot
                                </label>
                            </div>


                            <button class="boton-registro" type="submit">Crear cuenta</button> 
                        </div>
                    </div>
                </form>

            </main>

            <!-- Incluimos el Footer -->
            <%- include('../partials/footer.ejs') %>

    </body>

</html>