<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {tituloPagina: "Aastassia Joyas - Registro de usuario", hojaEstilo: "register"}) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <div>
            <i id="iconoUsuario" class="fa-solid fa-user"></i>
            <h3 class="titulo">CREAR UNA CUENTA</h3>
        </div>

        <div class="crear-cuenta">

            <div class="datos-personales">
                <h3>Datos personales</h3>
                <form class="formulario">
                    <label>Nombre <span class="asterisco">*</span></label>
                    <br>
                    <input type="text">
                    <br>

                    <label>Apellido <span class="asterisco">*</span></label>
                    <br>
                    <input type="text">
                    <br>

                    <label>Documento <span class="asterisco">*</span></label>
                    <br>
                    <input type="number">
            </div>

            <div class="info-inicio-sesion">
                <h3>Información de inicio de sesión</h3>
                <form class="formulario">
                    <label>Email <span class="asterisco">*</span></label>
                    <br>
                    <input type="email">
                    <br>

                    <label>Contraseña <span class="asterisco">*</span></label>
                    <br>
                    <input type="password">
                    <br>

                    <label>Confirmar contraseña <span class="asterisco">*</span></label>
                    <br>
                    <input type="password">
            </div>


        </div>

        <div class="checkbox">
            <input type="checkbox">
            <p>Acepto recibir información por e-mail sobre novedades, ofertas, descuentos, promociones y eventos.</p>
        </div>

        <div class="checkbox">
            <input type="checkbox">
            <p>Acepto los Términos y condiciones, y las Políticas de privacidad del sitio.</p>
        </div>

        <div class="botones">

            <div class="box-robot">
                <label>
                    <input type="checkbox">
                    No soy un robot
                </label>
            </div>


            <a href="#"><button class="boton-registro" type="submit">Crear cuenta</button></a>
        </div>


    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>